body {
  background-color: aqua;
}

.app {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 100px 1fr;
  grid-template-areas: 
  'sidebar  header'
  'sidebar  main';
}

#header {
  border: 1px solid black;
  grid-area: header;
}

#mainContainer {
  border: 1px solid yellow;
  grid-area: main;
}

#sidebar {
  border: 1px solid red;
  grid-area: sidebar;
}